body{
  background-color: #0f1433;
}
.customizer {
  background-image: url(assets/backgrounds/bg1.png);
  background-size: 200px;
  image-rendering: pixelated;         /* 🔑 mantiene los píxeles nítidos */
  image-rendering: crisp-edges;
  background-position: center;    /* centra la imagen */
  background-repeat: repeat;   /* evita que se repita */

  margin-left: 0px;
  height: 360px;
  width: 205px;
  display: flex;
  flex-direction: column;
  align-items: center;   /* centro horizontal todo */
}

.base-layer{
  filter: 
    drop-shadow(1px 1px 0 black)
    drop-shadow(2px 2px 0 black)
    drop-shadow(1px 2px 0 black);
}
  
  .category-bar {
    display: flex;  
    gap: 5px;
    margin-top: 12px;
    align-items: center;
  }

 .category-bar button {
    background: none;
    border: none;
    cursor: pointer;
  }


  .category.selected img {
    background: none;
    width: 35px;              /* por ejemplo: escalado 4x si el original era 32px */
    height: 35px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }

  .category img{
    background: none;
    width: 30px;              /* por ejemplo: escalado 4x si el original era 32px */
    height: 30px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }

  .category[data-category="shirt"] {
    background-image: url(assets/shirtbg.png);
    background-color: transparent;
    background-size: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-repeat: no-repeat;
  }

  .category[data-category="pants"] {
    background-image: url(assets/pantsbg.png);
    background-color: transparent;
    background-size: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-repeat: no-repeat;
  }

  .category[data-category="hair"] {
    background-image: url(assets/hairbg.png);
    background-color: transparent;
    background-size: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-repeat: no-repeat;
  }

  .category[data-category="eyes"] {
    background-image: url(assets/eyesbg.png);
    background-color: transparent;
    background-size: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    background-repeat: no-repeat;
  }

  .sprite-display {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 252px;
  }

  .nav-button img {
    width: 50px;              /* por ejemplo: escalado 4x si el original era 32px */
    height: 36px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;

  }

  .nav-button img:hover {
    transform: scale(1.1);
  }

  .nav-button img:active {
    opacity: 0.7;
  }

  #bgchangebutton img {
    width: 40px;              /* por ejemplo: escalado 4x si el original era 32px */
    height: 40px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
  }

  .sprite-display button {
    color: #fff;
    border: none;
    padding: 1px 10px;
    cursor: pointer;
  }
  
  .sprite-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;              /* por ejemplo: escalado 4x si el original era 32px */
    height: 120px;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    margin-left: 60px;
    margin-top: 150px;
}
  
  .typename{
    position: absolute;
    width: 125px;
    height: 10px;;
    left: 100px;
    transform: translateX(-50%);
    top: 120px;

    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    font-family: 'Press Start 2P';
    color: #fff;
    text-shadow:
    -1px -1px 0 #000, /* arriba izquierda */
     1px -1px 0 #000, /* arriba derecha */
    -1px  1px 0 #000, /* abajo izquierda */
     1px  1px 0 #000; /* abajo derecha */

     text-shadow: 2px 2px 0px #000;

    display: block;
    margin-left: 10px;
    margin-right: auto;
  }